@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-grey: #404040;
  --primary-blue: #05546c;
  --primary-blue-shaded: #05546ce1;
  --dark-blue: #00303f;
  --primary-black: #000000;
  --primary-white: #ffffff;
}

body {
  font-family: "Barlow", sans-serif;
  color: var(--primary-black);
}

.blueGradient {
  background: linear-gradient(117deg, #00303f 0%, #006e90 100%);
}

.select {
  outline: none;
  border: 2px solid var(--primary-black);
  cursor: pointer;
  background-color: #fff;
}

/* Scrollbar css */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #05546c #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #05546c;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #05546c;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #05546c;
}

/* Animations */

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
